apiVersion: apps/v1
kind: Deployment
metadata:
  name: dissco-handle-manager-handle
  labels:
    app: dissco-handle-manager-handle
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dissco-handle-manager-handle
  template:
    metadata:
      labels:
        app: dissco-handle-manager-handle
        language: java
    spec:
      automountServiceAccountToken: false
      containers:
        - name: dissco-handle-manager-handle
          image: public.ecr.aws/dissco/handle-manager:sha-ff11956   # Sep-10-2025
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          env:
            - name: spring.profiles.active
              value: handle
            - name: spring.security.oauth2.resourceserver.jwt.issuer-uri
              value: https://login-demo.dissco.eu/auth/realms/dissco
            - name: spring.security.oauth2.authorizationserver.endpoint.jwk-set-uri
              value: ${spring.security.oauth2.resourceserver.jwt.issuer-uri}/protocol/openid-connect/certs
            - name: application.ui-url
              value: https://disscover.dissco.eu
            - name: application.api-url
              value: https://api.dissco.eu
            - name: application.orchestration-api
              value: https://api.dissco.eu
            - name: application.orchestration-ui
              value: https://orchestration.dissco.tech
            - name: application.maxHandles
              value: '1000'
            - name: springdoc.swagger-ui.path
              value: /docs/swagger-ui.html
            - name: springdoc.api-docs.path
              value: /docs/api-docs
            - name: springdoc.swagger-ui.config-url
              value: /handle-manager/api/pids/v1/docs/api-docs/swagger-config
            - name: springdoc.swagger-ui.url
              value: /handle-manager/api/pids/v1/docs/api-docs
            - name: spring.datasource.url
              value: jdbc:postgresql://terraform-20241127102459386000000001.cbppwfnjypll.eu-west-2.rds.amazonaws.com:5432/dissco
            - name: spring.datasource.username
              valueFrom:
                secretKeyRef:
                  name: db-secrets
                  key: db-username
            - name: spring.datasource.password
              valueFrom:
                secretKeyRef:
                  name: db-secrets
                  key: db-password
            - name: application.prefix
              value: 20.5000.1025
            - name: caching.spring.ttl
              value: PT6H
            - name: mongo.database
              value: PIDs
            - name: mongo.connection-string
              valueFrom:
                secretKeyRef:
                  name: aws-secrets
                  key: pid-mongodb-connection
          resources:
            requests:
              memory: "500Mi"
              cpu: "200m"
            limits:
              memory: "500Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 120
            periodSeconds: 3
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 30
            failureThreshold: 6
            periodSeconds: 10
          securityContext:
            runAsNonRoot: true
            allowPrivilegeEscalation: false