apiVersion: v1
kind: ConfigMap
metadata:
  name: migration-configmap
  namespace: flyway
  annotations:
    argocd.argoproj.io/hook: PreSync
data:
  V1_2_8__fix_annotation_status.sql: |
    ALTER TYPE annotation_status_enum RENAME TO status_old;
    CREATE TYPE annotation_status_enum AS ENUM('APPROVED','MERGED','PENDING','REJECTED','TOMBSTONED');
    ALTER TABLE annotation ALTER COLUMN annotation_status TYPE annotation_status_enum USING annotation_status::text::annotation_status_enum;
    DROP TYPE status_old;