apiVersion: v1
kind: ConfigMap
metadata:
  name: migration-configmap
  namespace: flyway
  annotations:
    argocd.argoproj.io/hook: PreSync
  data:
    V1_0_1__annotation_status.sql: |
      alter table public.annotation add annotation_status text;
      create index annotation_status_index on annotation(target_id, annotation_status);